@{

    ViewBag.Title = "William Ferreira";
}

<div class="container">
    <h1>Pesquisa Por CEP usando VueJS</h1>
    <div id="appCep">
        <fieldset>
            <div class="form-row">
                <div class="col-md-2">
                    <label id="CEP" for="CEP"></label>
                </div>
                <div class="col-md-10 form-row">
                    <input id="txtCEP" for="txtCEP" type="text" class="form-control" placeholder="CEP" />
                    <input id="btnPesquisar" type="submit" value="Pesquisar" class="btn btn-primary btn-md" />
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    <label id="lblDesCEP" for="lblDesCEP" value="CEP:" class="form-label"></label>
                </div>
                <div class="col-md-10">
                    <label id="lblCEP" for="lblCEP" class="form-control"></label>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    <label id="lblDesLogradouro" for="lblDesLogradouro" value="Logradouro:" class="form-control"></label>
                </div>
                <div class="col-md-10">
                    <label id="lblLogradouro" for="lblLogradouro" class="form-control"></label>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    <label id="lblDesComplemento" for="lblDesComplemento" value="Complemento:" class="form-control"></label>
                </div>
                <div class="col-md-10">
                    <label id="lblComplemento" for="lblComplemento" class="form-control" ></label>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    <label id="lblDesBairro" for="lblDesBairro" value="Bairro:" class="form-control"></label>
                </div>
                <div class="col-md-10">
                    <label id="lblBairro" for="lblBairro" class="form-control"></label>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    <label id="lblDesLocalidade" for="lblDesLocalidade" value="Localidade:" class="form-control"></label>
                </div>
                <div class="col-md-10">
                    <label id="lblLocalidade" for="lblLocalidade"  class="form-control"></label>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    <label id="lblDesUF" for="lblDesUF" valeu="UF:" class="form-control"></label>
                </div>
                <div class="col-md-10">
                    <label id="lblUF" for="lblUF" class="form-control"></label>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    <label id="lblDesUnidade" for="lblDesUnidade" value="Unidade:" class="form-control"></label>
                </div>
                <div class="col-md-10">
                    <label id="lblUnidade" for="lblUnidade" class="form-control"></label>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    <label id="lblDesIBGE" for="lblDesIBGE"  valeu="Código IBGE:" class="form-control"></label>
                </div>
                <div class="col-md-10">
                    <label id="lblIBGE" for="lblIBGE" class="form-control"></label>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    <label id="lblDesGIA" for="lblDesGIA" value="GIA:" class="form-control"></label>
                </div>
                <div class="col-md-10">
                    <label id="lblGIA" for="lblGIA" class="form-control"></label>
                </div>
            </div>
        </fieldset>
    </div>
</div>
@section Scripts {
    <script src="~/Scripts/vue.js"></script>
    <script src="~/Scripts/CEPVue/CEPVue.js"></script>
}
